appdirs==1.4.4
atomicwrites==1.4.0
croniter==1.4.1
factor_analyzer==0.5.1
findspark==2.0.1
fqdn==1.5.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
isoduration==20.11.0
jsonpointer==2.1
jupyter==1.1.1
jupyter-highlight-selected-word==0.2.0
jupyter_contrib_core==0.4.2
jupyter_contrib_nbextensions==0.7.0
jupyter_nbextensions_configurator==0.6.4
jupyter_scheduler==2.10.0
jupyterlab==4.3.4
jupyterlab_server==2.27.3
jupyterthemes==0.20.0
lesscpy==0.15.1

